@import 'styles/variables.scss';

:local(.DropdownMenu) {
  position: absolute;
  top: calc(#{$aboutDrawerHeaderHeight} - 2px);
  right: 10px;

  height: fit-content;
  width: 300px;
  
  border-radius: 0 0 8px 8px;
  background: $aboutMeTeal;

  transform-origin: top right;
  transform: scale(0,0);
  
  .dropdown-content {
    min-height: 140px;
    max-height: 260px;

    padding: 20px 20px 10px;

    border-radius: 0 0 8px 8px;
    border: 2px solid $aboutMeTeal;
    border-top: none;
    box-shadow: 0px 12px 12px 3px $boxShadowColor;
    background: $buttonPurple;

    overflow: scroll;
  }

  &.open {
    animation-name: dropdown-open;
    animation-duration: 1000ms;
    animation-fill-mode: both;

    .dropdown-content {

      > * {
        opacity: 1;
        transition: opacity .5s linear 1s
      }
    }
  }
  
  &.closed {
    animation-name: dropdown-close;
    animation-delay: 500ms;
    animation-duration: 1000ms;
    animation-fill-mode: both;

    .dropdown-content {

      > * {
        opacity: 0;
        transition: opacity .5s
      }
    }
  }

  
  @keyframes dropdown-open {
    0% {
      transform: scale(.01, 0)
    }
    50% {
      transform: scale(.01, 1)
    }
    100% {
      transform: scale(1, 1)
    }
  }

  @keyframes dropdown-close {
    0% {
      transform: scale(1, 1)
    }
    50% {
      transform: scale(.01, 1)
    }
    99% {

      transform: scale(.01, 0)
    }
    100% {
      transform: scale(0, 0)
    }
  }
}
