@import './variables.scss';

@font-face {
  font-family: 'regular';
  src: url('./montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'semiBold';
  src: url('./montserrat/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'bold';
  src: url('./montserrat/Montserrat-Bold.otf');
}
