@import './variables.scss';

@font-face {
  font-family: 'regular';
  src: url('./montserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'semiBold';
  src: url('./montserrat/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'bold';
  src: url('./montserrat/Montserrat-Bold.otf');
}

button {
  cursor: pointer;
  //removes focus highlight
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
