//fonts
$regular: 'regular';
$semiBold: 'semiBold';
$bold: 'bold';

$blackText: rgb(2,0,36);
$blackTextDisabled: rgb(2,0,36,.4);
$boxShadowColor: rgb(2,0,36,.5);

$buttonPurple: rgba(64,91,214,.7);

$headerHeight: 120px;
$footerHeight: 100px;
$aboutDrawerHeight: 400px;

 
