//fonts
$regular: 'regular';
$semiBold: 'semiBold';
$bold: 'bold';

$blackText: rgb(2,0,36);
$blackTextDisabled: rgb(2,0,36,.4);
$dropdownGrey: rgb(2,0,36,.5);
$boxShadowColor: rgb(2,0,36,.5);

$buttonPurple: rgba(64,91,214,.7);
$buttonPurpleHover: rgba(64,91,214,.9);
$aboutMeTeal: rgb(0,212,255);


$headerHeight: 120px;
$footerHeight: 120px;
$aboutDrawerHeight: 420px;
$aboutDrawerHeaderHeight: 72px;

@mixin mobile-view {
  @media screen and (max-width: 500px) {
    @content;
  }
}
