//fonts
$regular: 'regular';
$semiBold: 'semiBold';
$bold: 'bold';

$blackText: rgb(2,0,36);
$blackTextDisabled: rgb(2,0,36,.4);
$boxShadowColor: rgb(2,0,36,.5);

$headerHeight: 120px;
$footerHeight: 100px;

 
