@import 'styles/variables.scss';

:local(.AboutDrawer) {
  position: absolute;
  left: 0;
  right: 0;
  
  // -20px for box shadow
  bottom: calc(-#{$aboutDrawerHeight} - 20px);

  height: $aboutDrawerHeight;
  
  background: $aboutMeTeal;
  border: 1px solid $blackText;

  z-index: 100;
  transition: bottom .4s ease-in;

  &.open {
    bottom: calc(#{$footerHeight} - 2px);
  }

  .content-container {
    position: relative;
  }
}
