@import '../styles/variables.scss';

:local(.AboutDrawer) {
  position: absolute;
  left: 0;
  right: 0;
  // -20px for box shadow
  bottom: calc(-#{$aboutDrawerHeight} - 20px);

  height: $aboutDrawerHeight;

  background: rgba(0,212,255,1);
  border: 1px solid $blackText;
  box-shadow: 0px -4px 15px 0px $boxShadowColor;
  
  z-index: 100;
  transition: bottom .4s ease-in;

  &.open {
    bottom: calc(#{$footerHeight} - 2px);
  }
}
