@import '../styles/variables.scss';

:local(.App) {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;

  overflow: hidden;

  background: radial-gradient(circle, rgba(73,73,208,1) 0%, rgba(0,212,255,1) 100%);

  main {
    position: relative;
    height: calc(100% - #{$footerHeight} - #{$headerHeight});
    width: 100%;
    
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 100%);
      grid-gap: 100px;

      height: 100%;
      width: 100%;
      
      margin-right: calc(100% * -3);
      transition: margin-left .5s ease-in-out;
      

      .title-card {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          width: 475px;
          margin-bottom: 60px;

          text-align: center;
          line-height: 50px;

          color: $blackText;
          font-family: $semiBold;
          font-size: 40px;

          animation-name: fade-in; 
          animation-duration: 1500ms;
          animation-delay: 5000ms;
          animation-fill-mode: both;
        }
      }

      .card-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
          width: calc(100% - 200px);
          height: calc(100% - 100px);
          max-height: 500px;
          max-width: 800px;

          background: rgba(73,208,183,.6);
          border: 2px solid $buttonPurple;
          border-radius: 8px;
          
        }
      }
    }
  }
}
