@import '../styles/variables.scss';

:local(.Card) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .content {
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    margin-top: 50px;
    max-height: 500px;
    max-width: 800px;

    background: rgba(73,208,183,.6);
    border: 2px solid $buttonPurple;
    border-radius: 8px;

    @include mobile-view {
      width: calc(100% - 40px);

      margin-top: 80px;
    }
  }
}
