@import '../styles/variables.scss';

:local(.FooterButton) {
  height: 50px;
  width: 70%;
  max-width: 200px;

  box-shadow: 4px 4px 5px 0px $boxShadowColor;
  border-radius: 34px;
  background: $buttonPurple;
  
  color: $blackText;
  font-family: $semiBold;
  font-size: 16px;
  
  opacity: 0;

  user-select: none;

  @include mobile-view {
    width: 90%;
  }
  
  &:hover {
    background: $buttonPurpleHover;

    color: #DDDDDD;
  }
  
  &.on-click {
    box-shadow: none;
  }
  
  &.visible {
    cursor: pointer;

    animation-name: fade-in; 
    animation-duration: 500ms;
    animation-fill-mode: both;
  }
  
  &.not-visible {
    pointer-events: none;

    animation-name: fade-out; 
    animation-duration: 500ms;
    animation-fill-mode: both;
  }
  
  &.disabled {
    background: rgba(64,91,214,.2);
    box-shadow: none;
    
    color: $blackTextDisabled;

    pointer-events: none;
    
    transition: background, color 120ms ease-out
  }
  
  &.enabled {
    transition: background, color 120ms ease-out
  }
}
