@import '../styles/variables.scss';

:local(.FooterButton) {
  height: 50px;
  width: 70%;
  max-width: 200px;

  font-family: $semiBold;
  font-size: 16px;
  color: $blackText;
  background: $buttonPurple;
    
  box-shadow: 4px 4px 5px 0px $boxShadowColor;

  border-radius: 34px;

  opacity: 0;

  user-select: none;
  
  &.on-click {
    box-shadow: none;
    color: #AAAAAA;
  }
  
  &.visible {
    cursor: pointer;
    animation-name: fade-in; 
    animation-duration: 500ms;
    animation-fill-mode: both;
  }
  
  &.not-visible {
    pointer-events: none;
    animation-name: fade-out; 
    animation-duration: 500ms;
    animation-fill-mode: both;
  }
  
  &.disabled {
    color: $blackTextDisabled;
    background: rgba(64,91,214,.2);

    pointer-events: none;
    box-shadow: none;
    
    transition: background, color 100ms ease-out
  }
  
  &.enabled {
    transition: background, color 100ms ease-out
  }
}
