@import 'styles/variables.scss';

:local(.Header) {
  display: flex;
  flex-direction: column;

  height: $headerHeight;
  width: 100%;

  padding: 10px 20px 10px 40px;

  background: linear-gradient(180deg, rgba(73,208,183,1) 0%, rgba(0,212,255,1) 100%);
  border: 1px solid $blackText;
  box-shadow: 0px 4px 15px 0px $boxShadowColor;

  animation-name: fly-in-top; 
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: both;

  .headers {
    flex-grow: 1;
    
    h1, h2 {
      animation-name: fly-in-right; 
      animation-duration: 500ms;
      animation-timing-function: cubic-bezier(.79,.43,.36,1.19);
      animation-fill-mode: both;
    }
    
    h1 {
      margin-bottom: 10px;
      
      font-family: $bold;
      font-size: 24px;
      
      animation-delay: 1500ms;
    }
    
    h2 {
      font-family: $semiBold;
      font-size: 16px;
      
      animation-delay: 2200ms;
    }
  }

  @include mobile-view {
    flex-direction: row;

    padding: 10px 20px;

    .headers {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      h1 {
        font-size: 20px;
      }

      h2 {
        margin-bottom: 18px;

        font-size: 14px;
      }
    }
  }
    
  
  @keyframes fly-in-top {
    0% {
      transform: translateY(-150%)
    }
    100% {
      transform: none;
    }
  }
    
  @keyframes fly-in-right {
    0% {
      transform: translateX(300%)
    }
    100% {
      transform: none;
    }
  }
}
