@import 'styles/variables.scss';

:local(.VisualizationCard) {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    max-height: 500px;
    max-width: 800px;
    
    margin-top: 50px;
    
    border: 2px solid $buttonPurple;
    border-radius: $borderRadius;
    background: rgba(73,208,183,.6);
    box-shadow: 4px 5px 6px 0px $cardBoxShadowColor;

    
    @include narrow-view {
      width: calc(100% - 40px);
      
      margin-top: 80px;
    }
    
    &.is-fill-parent {
      @include narrow-view {
        width: calc(100% - 150px);
      }
    }

    .graph-container {
      height: 100%;
      width: 50%;
  
      overflow: scroll;
    }
    
    .info-container {
      height: calc(100% - 80px);
      width: calc(50% - 20px);
  
      margin: 40px 10px;
  
      border: 2px solid $buttonPurple;
      border-radius: $borderRadius;
      
      overflow: scroll;
    }
  }

  &.landscape {
    .content {
      flex-direction: column-reverse;

      @include narrow-view {
        width: calc(100% - 150px);
      }
      
      .graph-container {
        height: 50%;
        width: 100%;
        padding: 0 15px;
      }
      
      .info-container {
        height: calc(50% - 30px);
        width: calc(100% - 30px);
        
        margin: 15px;
      }
    }
  }
}
