@import 'styles/variables.scss';

:local(.VisualizationCards) {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  grid-gap: 100px;
  
  transition: margin-left .5s ease-in-out;

  .title-placeholder {
    width: 100%;
  }
}
