@import 'styles/variables.scss';

:local(.AboutDrawerContent) {
  height: 352px;

  padding: 40px 20px 32px;

  overflow-y: scroll;
  
  img {
    height: 200px;
    margin: 0 20px 20px 0;
    
    border: 4px solid $buttonPurple;
    border-radius: $borderRadius;
    
    float: left;
  }

  .paragraphs {
    display: inline;
    font-family: $regular;

    h2 {
      margin-top: 20px;
      margin-bottom: 5px;

      line-height: 25px;

      font-family: $semiBold;
      font-size: 18px;
    }

    p {
      margin-bottom: 10px;

      line-height: 19px;
      font-size: 16px;
    }

    ul {
      margin-left: 30px;

      line-height: 19px;
      font-size: 16px;
    }
  }

  @include narrow-view {
    display: flex;
    flex-direction: column;

    img {
      height: auto;
      width: calc(100% - 40px);
      
      margin: 0 auto 30px;

      float: none;
    }
  }
}
