@import 'styles/variables.scss';

:local(.ZoomPhylo) {
  position: relative;

  .header {
    height: 34px;
    padding: 0;

    box-shadow: none;

    .header-container {
      margin-right: 5px;

      h1 {
        font-size: 18px;
      }
    }

    @include narrow-view {
      .header-container {
        padding-left: 10px;

        h1 {
          font-size: 14px;
        }
      }
      .dropdown-button-container {
        padding-right: 10px;
      }
    }
  }

  .zoom-container {
    z-index: 80;
    position: relative;
  }
}
