@import 'styles/variables.scss';

:local(.CustomizeDropdown) {
  top: 32px;
  z-index: 90;

  @include narrow-view {
    width: 240px;
  }
  
  .dropdown-content {
    text-align: center;

    padding-bottom: 20px;

    border: 2px solid rgba(64, 91, 214, 0.7);
    border-top: none;

    .reset-button {
      margin: 0 auto;
      background: $aboutMeTeal;

      &:hover {
        background: $dropdownSelectButtonHover;
    
        color: #DDDDDD;
      }
    }
  }
}
