@import 'styles/variables.scss';

:local(.Slider) {
  width: 100%;
  height: 80px;

  padding: 10px 20px;
  margin-bottom: 10px;

  text-align: left;

  border-radius: $borderRadius;
  background: $aboutMeTeal;

  p {
    color: $blackText;
    font-family: $semiBold;
    font-size: 14px;
  }
}
